/__pycache__/
*.pyc
*.pyo
*.pyd

# Ignorar la carpeta venv (entorno virtual)
venv/
/venv/
/.venv/
/env/

# No ignorar estos archivos y carpetas
!/src/
!/README.md
!/main.py
!/.gitignore
!/Requirements.txt

